{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Billingo plugin for Craft Commerce
 *
 * Billingo for Craft Commerce Settings.twig
 *
 * @author    Ottó Radics
 * @copyright Copyright (c) 2019 Ottó Radics
 * @link      https://www.webmenedzser.hu
 * @package   Billingo
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Plugin Name' | t('billingo'),
    instructions: 'Override plugin name.' | t('billingo'),
    id: 'pluginName',
    name: 'pluginName',
    required: false,
    placeholder: 'Billingo',
    value: settings['pluginName'] ?? null
}) }}

{{ forms.autosuggestField({
    label: 'Public API Key' | t('billingo'),
    instructions: 'Enter Billingo public API key here.' | t('billingo'),
    id: 'publicApiKey',
    name: 'publicApiKey',
    required: true,
    suggestEnvVars: true,
    value: settings['publicApiKey'] ?? null
}) }}

{{ forms.autosuggestField({
    label: 'Private API Key' | t('billingo'),
    instructions: 'Enter Billingo private API key here.' | t('billingo'),
    id: 'privateApiKey',
    name: 'privateApiKey',
    required: true,
    suggestEnvVars: true,
    value: settings['privateApiKey'] ?? null
}) }}

{% set invoiceTypeOptions = {
    '1': 'Proforma Invoice' | t('billingo'),
    '3': 'Normal Invoice' | t('billingo')
} %}

{{ forms.selectField({
    label: 'Invoice Type' | t('billingo'),
    instructions: 'Select an invoice type you want to create once the order is marked as Paid.' | t('billingo'),
    id: 'invoiceType',
    name: 'invoiceType',
    required: true,
    value: settings['invoiceType'] ?? null,
    options: invoiceTypeOptions
}) }}

{% set billingoPaymentMethods = {
    '2': 'Wiretransfer' | t('billingo'),
    '4': 'Cash on Delivery' | t('billingo'),
    '1': 'Cash' | t('billingo'),
    '5': 'Bankcard' | t('billingo'),
    '6': 'SZEP card' | t('billingo'),
    '7': 'PayPal' | t('billingo'),
    '8': 'Postal check' | t('billingo'),
    '9': 'Compensation' | t('billingo'),
    '10': 'Health insurance card' | t('billingo'),
    '11': 'Coupon' | t('billingo'),
    '12': 'Voucher' | t('billingo'),
} %}

{{ forms.selectField({
    label: 'Billingo Payment Method' | t('billingo'),
    instructions: 'Select a default payment method.' | t('billingo'),
    id: 'paymentMethod',
    name: 'paymentMethod',
    required: true,
    value: settings['paymentMethod'] ?? null,
    options: billingoPaymentMethods
}) }}

{% set templateLanguages = {
    'hu': 'Hungarian' | t('billingo'),
    'en': 'English' | t('billingo'),
    'de': 'German' | t('billingo'),
    'fr': 'French' | t('billingo'),
    'hr': 'Croatian' | t('billingo'),
    'it': 'Italian' | t('billingo'),
    'ro': 'Romanian' | t('billingo'),
    'sk': 'Slovak' | t('billingo')
} %}

{{ forms.selectField({
    label: 'Invoice Language' | t('billingo'),
    instructions: 'Select language used for invoice templates here.' | t('billingo'),
    id: 'templateLangCode',
    name: 'templateLangCode',
    required: true,
    value: settings['templateLangCode'] ?? null,
    options: templateLanguages
}) }}

{% set electronicInvoiceOptions = {
    '1': 'Yes' | t('billingo'),
    '0': 'No' | t('billingo')
} %}

{{ forms.selectField({
    label: 'Electronic Invoices' | t('billingo'),
    id: 'electronicInvoice',
    name: 'electronicInvoice',
    required: true,
    value: settings['electronicInvoice'] ?? null,
    options: electronicInvoiceOptions
}) }}

{% set emailTriggerOptions = {
    1: 'Yes' | t('billingo'),
    0: 'No' | t('billingo')
} %}

{{ forms.selectField({
    label: 'Trigger E-mails?' | t('billingo'),
    instructions: 'Set this to Yes if you want Commerce to trigger e-mail sending in Billingo.' | t('billingo'),
    id: 'triggerEmails',
    name: 'triggerEmails',
    required: true,
    value: settings['triggerEmails'] ?? null,
    options: emailTriggerOptions
}) }}

{% set vatOptions = {
    '1': '27%',
    '2': '5%',
    '3': '18%',
    '4': '0%',
} %}

{{ forms.selectField({
    label: 'Default VAT' | t('billingo'),
    instructions: 'This is the default VAT used in your store. Used as a fallback only, if no suitable VAT ID was found.' | t('billingo'),
    id: 'defaultVat',
    name: 'defaultVat',
    required: true,
    value: settings['defaultVat'] ?? null,
    options: vatOptions
}) }}

{% set roundToOptions = {
    '0': '0',
    '1': '1',
    '5': '5',
    '10': '10',
} %}

{{ forms.selectField({
    label: 'Round To' | t('billingo'),
    instructions: 'Optional, defaults to 0 (no rounding).' | t('billingo'),
    id: 'roundTo',
    name: 'roundTo',
    required: true,
    value: settings['roundTo'] ?? null,
    options: roundToOptions
}) }}

{{ forms.textField({
    label: 'Block UID' | t('billingo'),
    instructions: 'Enter the block UID to the invoice block ID you want to create invoice in.' | t('billingo'),
    id: 'blockUid',
    name: 'blockUid',
    required: true,
    value: settings['blockUid'] ?? null
}) }}

{{ forms.textField({
    label: 'Unit Type' | t('billingo'),
    instructions: 'Unit type for sold items. Set it to anything (pieces, puppies, etc.) you want.' | t('billingo'),
    id: 'unitType',
    name: 'unitType',
    required: true,
    value: settings['unitType'] ?? null
}) }}

{% set allVolumes = craft.app.volumes.getAllVolumes() %}
{% set assetVolumeList = [
    {
        'value': '',
        'label': '---'
    }
] %}
{% for volume in allVolumes %}
    {% set assetVolumeList = assetVolumeList|merge([{'value': volume.id, 'label': volume.name}]) %}
{% endfor %}

{% macro assetLocationInput(volumeOptions, volumeUid, subpath) %}
    {% from "_includes/forms" import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id: 'invoiceAssetVolume',
                name: 'invoiceAssetVolume',
                options: volumeOptions,
                value: volumeUid,
            }) }}
        </div>
        <!--
        <div class="flex-grow">
            {{ text({
                id: 'invoiceAssetSubpath',
                class: 'ltr',
                name: 'invoiceAssetSubpath',
                value: subpath,
                placeholder: "path/to/subfolder"|t('app')
            }) }}
        </div>
        -->
    </div>
{% endmacro %}

{% from _self import assetLocationInput %}

{% if assetVolumeList %}
    {{ forms.field({
        first: true,
        label: "Invoice Volume" | t('billingo'),
        instructions: "Where do you want to store Invoices? Note that the subfolder path can contain variables like <code>{postDate}</code>." | t('billingo')
    }, assetLocationInput(assetVolumeList, settings['invoiceAssetVolume'], settings['invoiceAssetSubpath'])) }}
{% else %}
    {{ forms.field({
        first: true,
        label: "Invoice Volume" | t('billingo')
    }, '<p class="error">' ~ "No volumes exist yet." | t('app') ~ '</p>') }}
{% endif %}

{% set gateways = craft.commerce.gateways.allGateways ?? null %}
{% set gatewayList = [
    {
        'value': '',
        'label': '---'
    }
] %}
{% for gateway in gateways %}
    {% set gatewayList = gatewayList|merge([{'value': gateway.id, 'label': gateway.name}]) %}
{% endfor %}

{{ forms.editableTableField({
    label: "Payment Method mappings" | t("billingo"),
    instructions: "Map your Payment Methods to [Billingo Payment Methods](https://billingo.readthedocs.io/en/latest/payment_methods/). You can override some of the settings if that payment method is used." | t("billingo"),
    id: 'paymentMethodSettings',
    name: 'paymentMethodSettings',
    required: false,
    cols: {
        paymentGatewayId: {
            heading: "Payment Gateways" | t("billingo"),
            type: "select",
            autopopulate: "paymentGateways",
            options: gatewayList
        },
        billingoPaymentMethodId: {
            heading: "Billingo Payment Method" | t("billingo"),
            type: "select",
            autopopulate: true,
            options: billingoPaymentMethods
        },
        dueDays: {
            heading: "Payment Due (days)" | t("billingo"),
            type: "number"
        },
        invoiceType: {
            heading: "Invoice Type" | t("billingo"),
            type: "select",
            autopopulate: true,
            options: invoiceTypeOptions
        }
    },
    rows: settings['paymentMethodSettings'],
    maxRows: gateways | length
}) }}
